.picture-one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 5px solid white;
    border-radius: 4%;
}

.picture-two {
    grid-column-start: 3;
    grid-column-end: 3;
    border: 5px solid white;
    border-radius: 4%;
}
body {
    height: 100%;
    background: linear-gradient(to right, navy, black);
}

h1 {
    background-position-x: 200px;
}
.card {
    position: relative;
    left: 1100px;
    top: -400px;
}

.card-body {
    background-color: white;
}

.card-title {
    font-family: 'Barlow', sans-serif;
}

.card-text {
    font-family: 'Barlow', sans-serif;
}

.btn.btn-primary {
    background-color: navy;
    font-family: 'Barlow', sans-serif;
}

.container-fluid {
    font-family: 'Barlow', sans-serif;
    text-align: right;
}

.navbar-brand {
    position: relative;
    left: 1300px;
}

.nav-item {
    position: relative;
    left: 1300px;
}

.introduction {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 2em;
    height: 200px;
    width: 600px;
}

.button1 {
    position: relative;
    left: 225px;
    top: 200px;
    border-radius: 12px;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
}

.bio {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    color: white;
}

.contacts {
    grid-row-start: 3;
    grid-row-end: 3;
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 2em;
}

.linkedin {
    color: white;
    background-color: rgb(44, 44, 44);
    border: 5px;
    border-radius: 10px;
}

.grid-container-one {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
}

.grid-container-two {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
}

.grid-container-three {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
}

.eyes {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Barlow', sans-serif;
    font-size: 3em;
    color: white;
}

.eyes-description {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
    color: white;
}

.eyes-project {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    color: white;
}

.eyes-repo {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    color: white;
}

.pacmen {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    font-family: 'Barlow', sans-serif;
    font-size: 3em;
    color: white;
}

.pacmen-description {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
    color: white;
}

.pacmen-project {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    color: white;
}

.pacmen-repo {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 8;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    color: white;
}

.bus {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 9;
    font-family: 'Barlow', sans-serif;
    font-size: 3em;
    color: white;
}

.bus-description {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 10;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
    color: white;
}

.bus-project {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 11;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    color: white;
}

.bus-repo {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 12;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    color: white;
}

.video {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 3;
    top: -400px;
    border-radius: 4%;
}