.picture-one {
    position: relative;
    left: 100px;
    top: 20px;
    border: 5px solid white;
}
body {
    height: 100%;
    background: linear-gradient(to right, navy, black);
}

h1 {
    background-position-x: 200px;
}
.card {
    position: relative;
    left: 1100px;
    top: -400px;
}

.card-body {
    background-color: white;
}

.card-title {
    font-family: 'Barlow', sans-serif;
}

.card-text {
    font-family: 'Barlow', sans-serif;
}

.btn.btn-primary {
    background-color: navy;
    font-family: 'Barlow', sans-serif;
}

.container-fluid {
    font-family: 'Barlow', sans-serif;
    text-align: right;
}

.navbar-brand {
    position: relative;
    left: 1300px;
}

.nav-item {
    position: relative;
    left: 1300px;
}